<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Socket.IO chat</title>
  </head>
  <body >
  <input id="username" type="hidden" value="{{user.username}}">
    <section id="chat">
      <ul id="messages">
      </ul><ul id="users">
      </ul>
      <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </section>
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>